@import "reset.css";

/* Global styles
----------------------------------------------- */
html, body, .page {height:100%;}
body > .page {height:auto; min-height:100%;}

body {background:#fff url(../i/page-bg.jpg) 50% 0 no-repeat; color:#534741; font:14px/1.5 Tahoma,sans-serif;}
a	{color:#000;}
a:hover	{color:#9c0021 !important;}
.pseudo-link {text-decoration:none; border-bottom:1px dotted;}

@font-face {
    font-family: 'AGOpusCRegular';
    src: url('agopusc-webfont.eot');
    src: url('agopusc-webfont.eot?#iefix') format('embedded-opentype'),
         url('agopusc-webfont.woff') format('woff'),
         url('agopusc-webfont.ttf') format('truetype'),
         url('agopusc-webfont.svg#AGOpusCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page, .acc_bar-items, .wn {width:1046px; margin:0 auto;}
.page {
    background:#fff; *zoom:1;
    -moz-box-shadow:0 1px 3px rgba(54,47,45,0.75);
    -khtml-box-shadow:0 1px 3px rgba(54,47,45,0.75);
    -webkit-box-shadow:0 1px 3px rgba(54,47,45,0.75);
    -o-box-shadow:0 1px 3px rgba(54,47,45,0.75);
    box-shadow:0 1px 3px rgba(54,47,45,0.75);
    behavior:url(../css/PIE.htc); 
}

/* Icon Link */
.iconed_l, .iconed_r {position:relative;}
.iconed_l {margin-left:19px;}
.iconed_l .i {left:-19px; top:50%;}
.iconed_r {margin-right:19px;}
.iconed_r .i {right:-19px; top:50%;}

/* =Icons
----------------------------------------------- */
.i {overflow:hidden; display:block; position:absolute; background:url(../i/icons.png) no-repeat; text-indent:-9999em;}
a.i {cursor:pointer;}
.i-bag {width:10px; height:16px; background-position:-258px -31px; margin-top:-7px;}
.i-arr_l {width:5px; height:10px; background-position:-252px -37px; margin:-4px 0 0 5px;}
.i-prev, .i-next {width:23px; height:47px; top:50%; margin-top:-22px; left:9px; z-index:10;}
.i-next {background-position:-23px 0; left:auto; right:9px;}
.i-prev:hover {background-position:-46px 0;}
.i-next:hover {background-position:-69px 0;}
.i-new, .i-sale {width:39px; height:39px; background-position:-92px 0; top:0; right:11px;}
.i-sale {background-position:-131px 0;}
.i-ras {width:30px; height:38px; background-position:-170px 0; margin:-14px 0 0 -18px;}
.i-delivery {width:17px; height:32px; background-position:-200px 0; top:-6px;}
.i-award {width:21px; height:36px; background-position:-217px 0; top:-7px;}
.i-card {width:30px; height:30px; background-position:-238px 0; top:-5px;}
.i-world {width:36px; height:33px; background-position:-268px 0; top:-7px;}
.i-phone {width:22px; height:22px; background-position:-304px 0; left:-31px; top:50%; margin-top:-10px;}
.i-back {width:8px; height:14px; background-position:-200px -33px; margin:-6px 0 0 5px;}
.i-close {width:16px; height:16px; background-position:-304px -22px; top:50%; right:7px; margin-top:-7px;}
.i-delete {width:21px; height:20px; background-position:-364px 0; top:-2px; right:0;}
.i-icon {width:28px; height:28px; background-position:-385px 0; position:relative; float:left; margin:9px 4px 9px 5px;}
.i-go {width:5px; height:10px; background-position:-212px -38px; top:50%; margin-top:-5px;}
.i-reduce, .i-reduce_dsbld, .i-enlarge, .i-enlarge_dsbld {width:7px; height:14px; top:50%; margin-top:-7px; cursor:pointer;}
.i-reduce_dsbld, .i-enlarge_dsbld {cursor:auto;}
.i-reduce, .i-reduce_dsbld {left:0;}
.i-enlarge, .i-enlarge_dsbld {left:59px;}
.i-reduce {background-position:-268px -33px;}
.i-reduce_dsbld {background-position:-282px -33px;}
.i-enlarge {background-position:-275px -33px;}
.i-enlarge_dsbld {background-position:-289px -33px;}
.i-b750, .i-b750_full {width:9px; height:23px; background-position:-355px 0; top:50%; margin-top:-18px;}
.i-b750_full {background-position:-346px 0;}
.i-b500, .i-b500_full {width:8px; height:19px; background-position:-334px -28px; top:50%; margin-top:-14px;}
.i-b500_full {background-position:-326px -28px;}
.catalog-item_sngl .i-b750, .catalog-item_sngl .i-b750_full {width:10px; height:27px; background-position:-336px 0; margin-top:-21px;}
.catalog-item_sngl .i-b750_full {background-position:-326px 0;}
.catalog-item_sngl .i-b500, .catalog-item_sngl .i-b500_full {width:9px; height:22px; background-position:-355px -25px; margin-top:-16px;}
.catalog-item_sngl .i-b500_full {background-position:-346px -25px;}

/* =Ribbon
----------------------------------------------- */
.ribbon-wrapper, .ribbon-front {position:relative;}
.ribbon-front {
    background-color:#534741; z-index:2; color:#fff; *zoom:1;
	-moz-box-shadow:0 1px 2px -1px #404040;
	-khtml-box-shadow:0 1px 2px -1px #404040;
	-webkit-box-shadow:0 1px 2px -1px #404040;
	-o-box-shadow:0 1px 2px -1px #404040;
    box-shadow:0 1px 2px -1px #404040;
    behavior:url(../css/PIE.htc); 
}
.ribbon-bl, .ribbon-br {display:block; overflow:hidden; position:absolute; z-index:1; width:6px; height:4px; bottom:-4px; background:url(../i/icons.png) no-repeat; z-index:1;}
.ribbon-bl {left:0; background-position:-92px -40px;}
.ribbon-br {right:0; background-position:-98px -40px;}

/* =Buttons
----------------------------------------------- */
.btn {
    position:relative; cursor:pointer; padding:0.108em 0.625em; display:-moz-inline-stack; display:inline-block; 
    *display:inline; *zoom:1; vertical-align:middle; font:1.143em/1.644em 'AGOpusCRegular',sans-serif;
    text-align:center; text-decoration:none; white-space:nowrap; text-shadow:1px 1px 1px #362b26; color:#fff !important; 
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.5);
	-khtml-box-shadow:0 1px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.5);
	-o-box-shadow:0 1px 4px rgba(0,0,0,0.5);
    box-shadow:0 1px 4px rgba(0,0,0,0.5);
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    background:#5c514b; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#84746c), to(#39322e)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #84746c, #39322e); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #84746c, #39322e); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #84746c, #39322e); /* IE10 */
    background-image:     -o-linear-gradient(top, #84746c, #39322e); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #84746c, #39322e);
    -pie-background:   linear-gradient(top, #84746c, #39322e);
    behavior:url(../css/PIE.htc); 
}
.btn:hover {
    color:#fff !important;
    background:#554a45; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#948279), to(#1c1917)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #948279, #1c1917); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #948279, #1c1917); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #948279, #1c1917); /* IE10 */
    background-image:     -o-linear-gradient(top, #948279, #1c1917); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #948279, #1c1917);
    -pie-background:   linear-gradient(top, #948279, #1c1917);
}
.btn:active {
    background:#756760; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#4e4440), to(#99867e)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #4e4440, #99867e); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #4e4440, #99867e); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #4e4440, #99867e); /* IE10 */
    background-image:     -o-linear-gradient(top, #4e4440, #99867e); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #4e4440, #99867e);
    -pie-background:   linear-gradient(top, #4e4440, #99867e);
}
.btn_dsbld, .btn_dsbld:hover, .btn_dsbld:active {
    text-shadow:1px 1px 1px #796453;
	-moz-box-shadow:0 0 0 rgba(0,0,0,0.5);
	-khtml-box-shadow:0 0 0 rgba(0,0,0,0.5);
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0.5);
	-o-box-shadow:0 0 0 rgba(0,0,0,0.5);
    box-shadow:0 0 0 rgba(0,0,0,0.5);
    background:#ad9a87; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c7b29b), to(#998677)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #c7b29b, #998677); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #c7b29b, #998677); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #c7b29b, #998677); /* IE10 */
    background-image:     -o-linear-gradient(top, #c7b29b, #998677); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #c7b29b, #998677);
    -pie-background:   linear-gradient(top, #c7b29b, #998677);
}
.btn_dsbld, .btn_dsbld input {cursor:text;}

/* Color red */
.btn_clr2 {
    text-shadow:1px 1px 1px #5b050a;
    background:#8b0a24; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#b30f34), to(#690616)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #b30f34, #690616); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #b30f34, #690616); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #b30f34, #690616); /* IE10 */
    background-image:     -o-linear-gradient(top, #b30f34, #690616); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #b30f34, #690616);
    -pie-background:   linear-gradient(top, #b30f34, #690616);
}
.btn_clr2:hover {
    background:#840a21; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#c2113a), to(#4d030b)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #c2113a, #4d030b); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #c2113a, #4d030b); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #c2113a, #4d030b); /* IE10 */
    background-image:     -o-linear-gradient(top, #c2113a, #4d030b); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #c2113a, #4d030b);
    -pie-background:   linear-gradient(top, #c2113a, #4d030b);
}
.btn_clr2:active {
    background:#a40e2e; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#7d091e), to(#c7123c)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #7d091e, #c7123c); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #7d091e, #c7123c); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #7d091e, #c7123c); /* IE10 */
    background-image:     -o-linear-gradient(top, #7d091e, #c7123c); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #7d091e, #c7123c);
    -pie-background:   linear-gradient(top, #7d091e, #c7123c);
}
.btn input {position:absolute; top:0; left:0; bottom:0; right:0; opacity:0; width:100%; behavior:url(../css/PIE.htc);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.btn_smll {font-size:1.107em; line-height:1; padding:0.387em 0.645em 0.452em; *padding-top:0.2em; *padding-bottom:0.667em;}
.btn_register {font-size:1.357em; line-height:1; padding:0.421em 0.947em 0.579em;}
.btn_save {width:5.625em;}
.btn_buy {width:4.267em;}
.btn_cart {width:5.375em;}

/* Window Nav */
.wn {position:fixed; top:50%; right:0; left:0; visibility:hidden;}
.wn-link {background:#362f2d; position:absolute; top:0; right:26px; padding:0.071em 1em 0.429em; text-decoration:none;}
.wn-link, .wn-link:hover {color:#fff !important;}
.wn-link-txt {border-bottom:1px dotted;}
.wn-link .i-tail {width:17px; height:8px; background-position:-114px -39px; top:-8px; left:50%; margin-left:-8px;}

/* =Account Bar
----------------------------------------------- */
.acc_bar {background:#000; position:fixed; left:0; right:0; top:0; padding:3px 0 6px; z-index:101;
	-moz-box-shadow:0 0 4px #404040;
	-khtml-box-shadow:0 0 4px #404040;
	-webkit-box-shadow:0 0 4px #404040;
	-o-box-shadow:0 0 4px #404040;
    box-shadow:0 0 4px #404040;
    behavior:url(../css/PIE.htc); 
}
.acc_bar, .acc_bar a {color:#fff;}
.acc_bar-item {float:right; margin:0 23px; font-size:0.929em; line-height:1.615;}
.acc_bar-item_l {float:left; font-size:0.786em; line-height:1.909;}
.acc_bar-item_welcome {font:italic 1.071em/1.4 'Times New Roman', sans-serif;}
.ie7 .acc_bar {left:-2px; top:-2px;}

/* =Header
----------------------------------------------- */
.page-header {
    position:relative; *zoom:1; padding:43px 23px 0; z-index:50;
    background:#fbf6e1; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fbf6e1)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #ffffff, #fbf6e1); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #ffffff, #fbf6e1); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #ffffff, #fbf6e1); /* IE10 */
    background-image:     -o-linear-gradient(top, #ffffff, #fbf6e1); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #ffffff, #fbf6e1);
    -pie-background:   linear-gradient(top, #ffffff, #fbf6e1);
    behavior:url(../css/PIE.htc);
}
.page-header .col_l {margin-left:38px;}
.page-header .col_l a {text-decoration:none; display:block;}
.page-header-logo {display:block; width:272px; height:42px; margin:1.143em 0 0.714em;}
.page-header-title {display:none;}
.page-header-subtitle {font-size:0.857em; font-weight:normal;}
.page-header-subtitle, .page-header-subtitle a, .page-header .phone {color:#000; text-decoration:none;}
.page-header .ras {font-size:0.786em;}
.page-header .ras a {color:#9c0021; margin-left:0; text-decoration:underline; display:inline;}
.ie7 .page-header .i-phone {margin-top:-17px;}

/* Phone */
.phone {float:right; width:200px; font-size:0.786em; line-height:1.909; margin:0.364em 0 1.545em;}
.phone-number {font-size:1.636em; margin-bottom:0.389em; position:relative;}

/* Nav_sub */
.nav_sub {float:right; clear:right;}
.nav_sub-item {display:inline; font-size:0.857em; line-height:1.75; margin-left:37px;}
.nav_sub-item, .nav_sub-item a:link {color:#362f2d;}

/* Nav */
.nav {margin:0.714em -29px 0;}
.nav, .nav-item a {color:#fff !important;}
.nav-front {
    padding:0 30px;
    -moz-box-shadow:0 1px 4px #404040;
	-khtml-box-shadow:0 1px 4px #404040;
	-webkit-box-shadow:0 1px 4px #404040;
	-o-box-shadow:0 1px 4px #404040;
    box-shadow:0 1px 4px #404040;
    background:#651126; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.21, #891b32), color-stop(0.73, #46081c)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #891b32 21%, #46081c 73%); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #891b32 21%, #46081c 73%); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #891b32 21%, #46081c 73%); /* IE10 */
    background-image:     -o-linear-gradient(top, #891b32 21%, #46081c 73%); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #891b32 21%, #46081c 73%);
    -pie-background:   linear-gradient(top, #891b32 21%, #46081c 73%);
}
.nav-items {background:url(../i/nav-bg.gif) 0 50% no-repeat; padding-left:2px; float:left;}
.nav-item {float:left; font-size:1.143em; line-height:1.216;}
.nav-item-txt {background:url(../i/nav-bg.gif) 100% 50% no-repeat; padding:0.5em 26px 0.75em; display:block; text-shadow:1px 1px 1px rgba(0,0,0,0.75);}
.nav-item a {display:block; position:relative; *zoom:1; behavior:url(../css/PIE.htc);}
.nav-item a:hover, .nav-item_act a, .nav-item_act a:hover, .nav-item_act a:active {
    background:#81152f; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#9c283b), to(#670323)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #9c283b, #670323); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #9c283b, #670323); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #9c283b, #670323); /* IE10 */
    background-image:     -o-linear-gradient(top, #9c283b, #670323); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #9c283b, #670323);
    -pie-background:   linear-gradient(top, #9c283b, #670323);
}
.nav-item a:active {
    background:#81152f; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#670323), to(#9c283b)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #670323, #9c283b); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #670323, #9c283b); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #670323, #9c283b); /* IE10 */
    background-image:     -o-linear-gradient(top, #670323, #9c283b); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #670323, #9c283b);
    -pie-background:   linear-gradient(top, #670323, #9c283b);
}

/* =Footer
----------------------------------------------- */
.page-footer {width:1000px; height:19.429em; margin:-19.429em auto 0; position:relative;}
.page-footer-header {border:2px solid #cec7c7; border-width:2px 0; padding:16px 0 25px 253px; *padding-bottom:15px;}
.page-footer-logo {margin:4px 0 0 -223px;}
.page-footer-logo, .page-footer-nav {float:left;}
.page-footer .copyright, .page-footer .phone {font-size:0.809em;}
.page-footer .copyright {line-height:1.364; margin-bottom:0.883em;}
.page-footer .copyright a {color:#9c0021;}
.page-footer-nav, .page-footer-nav a {color:#534741;}
.page-footer-nav-item {margin-right:1.133em; font-size:0.883em; line-height:1.621; display:inline;}
.page-footer .phone {float:right; clear:right; margin:0; line-height:1.908;}
.page-footer .phone-number {margin-bottom:0.701em; line-height:1.166;}
.page-footer-bottom {font-size:0.809em; padding-top:0.265em;}
.page-footer-bottom ul {margin-right:1.765em; line-height:1.908;}
.page-footer-bottom a {color:#a8a3a3;}
.page-footer-bottom ul {display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:top;}

/* =Content
----------------------------------------------- */
.page-content {padding:1.286em 23px 22.357em;}

/* Columns */
.col_l, .col_c {float:left;}
.col_r {float:right; clear:right;}
.col_l, .col_r {*display:inline; *zoom:1;}

.columns_2cols .col_l {width:735px;}
.columns_2cols .col_r {width:230px;}

.columns_3col .col_l {width:220px; margin-right:55px; margin-left:10px;}
.columns_3col .col_c {width:290px;}
.columns_3col .col_r {width:256px; margin-right:120px;}

/* Page Title */
.page-title {font-size:1.714em; line-height:1; font-weight:normal; margin-bottom:0.75em;}
.page-title, .account-title {color:#534741;}

/* Banner */
.offers {margin-bottom:1.357em;}
.offers-item {margin-bottom:1.071em;}

/* Special Offers */
.special_offers {border:1px solid #cec7c7; border-width:1px 0; margin:0.714em 0;}
.special_offers-title {display:none;}
.special_offers-items {overflow:hidden; *zoom:1; margin-right:-24px;}
.special_offers-item {margin:10px 23px 10px 0; float:left; width:230px; height:160px; overflow:hidden;}
.ie6 .special_offers-item, .ie7 .special_offers-item {float:none; display:inline; zoom:1;}

/* Crumbs */
.crumbs {font-size:0.857em; margin:-0.333em 2.417em 2.5em;}
.crumbs .iconed_r {padding-right:1em; margin:0;}
.crumbs .iconed_r .i {right:3px; margin-top:-2px;}
.crumbs a {color:#695c56; margin:0 0.75em;}

/* Carousel */
.carousel {position:relative; margin-bottom:0.643em;}
.carousel p {margin:-0.357em 0 0.929em;}
.carousel-nav {overflow:hidden; *zoom:1; border:1px solid #cec7c7; border-width:1px 0; margin-bottom:1.667em; padding:0.25em 0 0.167em; font-size:0.857em;}
.carousel-nav-items {margin:0 -28px 0 -26px;}
.carousel-nav-item {float:left; border-left:1px solid #cec7c7;}
.carousel-nav-item a {display:block; padding:0.5em 25px 0.917em; height:1.333em; position:relative;}
.carousel-nav-item .i {display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:top; position:relative; margin-right:14px;}
.carousel-items, .carousel-item {width:735px; height:340px; overflow:hidden; position:relative;}
.carousel-item {float:left;}
.ie6 .carousel-nav-item, .ie6 .carousel-nav-item a, .ie7 .carousel-nav-item, .ie7 .carousel-nav-item a {display:inline; zoom:1; vertical-align:top; float:none;}
.ie6 .carousel-nav-item .i, .ie7 .carousel-nav-item .i {display:block; float:left;}
.ie8 .carousel-nav-item .i {margin-right:13px;}

/* Cabinet */
.account {padding-left:10px;}
.account-header {margin-left:-10px;}
.account-header .page-title {float:left; margin-top:-0.125em;}

/* Greeting */
.greeting {width:230px; float:right; clear:right; font:italic 1.143em/1.313em 'Times New Roman'; margin-top:-0.375em;}
.greeting .note {color:#902035;}
.greeting p {margin-bottom:0.125em;}

/* Filter */
.filter {margin:0 0 2.571em -1em;}
.filter-item {float:left; font-size:1.143em; line-height:1; padding:0.188em 0.875em 0.375em; margin:0 0.438em 0 0; position:relative; border:1px solid #fff;}
.filter, .filter a {color:#000 !important; text-decoration:none;}
.filter a {border-bottom:1px dotted #626262;}
.filter-item .i-tail {width:10px; height:5px; bottom:-5px; left:50%; margin-left:-5px; background-position:-104px -42px; display:none;}
.filter-item_act {
    border-color:#cec7c7;
    background:#fbf6e1; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fbf6e1)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #ffffff, #fbf6e1); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #ffffff, #fbf6e1); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #ffffff, #fbf6e1); /* IE10 */
    background-image:     -o-linear-gradient(top, #ffffff, #fbf6e1); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #ffffff, #fbf6e1);
    -pie-background:   linear-gradient(top, #ffffff, #fbf6e1);
    behavior:url(../css/PIE.htc);
}
.filter-item_act a {border:0; cursor:auto;}
.filter-item_act .i-tail {display:block; z-index:10;}

/* Order */
.order .page-title {margin-bottom:1.792em;}
.order-info {font:italic 1.143em/1.5 'Times New Roman',serif; color:#000;}
.order-info .phone {margin:0; width:auto; float:none; font:italic bold 1em/1 'Times New Roman',serif;; color:#600;}
.order .account-header {margin-left:0;}
.order-items {margin:-1.429em 10px -2.357em 0;}
.order-item {color:#000; margin-bottom:2.357em;}
.order-item-title {font-weight:normal; font-size:1em; line-height:1.643;}
.order-item .catalog_short {border:0;}
.order-total {font-weight:bold; font-size:1.143em; line-height:1.313; border-top:1px solid #000; padding:0.313em 0 0; margin:-1px 0 0; position:relative;}
.order-total p {margin-bottom:0.5em;}
.order-total .btn {margin-top:0.813em; font-size:1em;}
.order-total-sum {margin-left:1.3em;}
.order-total-link, .registeration-promo {font:italic 0.875em/1.429 'Times New Roman',serif; color:#362f2d !important;}
.order-total-link {margin-right:5.714em; position:relative; top:-0.286em;}
.registeration-promo {font-size:1em/1.429; margin-bottom:0.5em;}
.registeration-promo-link {font-size:1.286em; line-height:1.068;}
.registeration-promo-link, .registeration-promo-link a {color:#9c0021;}

/* Sorter */
.sorter {
    margin:9px -1px 26px; padding:0 10px 10px; line-height:1.643; position:relative; *zoom:1;
    border:1px solid #cec7c7;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    behavior:url(../css/PIE.htc); 
}
.sorter-title {font-size:1em; background:#fff; margin:-13px 0 0 -2px; padding:0 23px 0 2px; float:left; position:relative;}
.sorter-item, .sorter-items {clear:both; position:relative; *zoom:1;}
.sorter a {color:#000 !important; text-decoration:none; border-bottom:1px dotted;}
.sorter .sorter, .sorter .sorter .sorter {margin:0; border:0;}
.sorter .sorter {padding:0;}
.sorter .sorter .sorter, .sorter .sorter .sorter .sorter-items {padding-left:10px;}
.sorter, .sorter .sorter .sorter .sorter-items {margin-bottom:16px;}
.sorter .sorter .sorter-title {margin-top:0;}
.sorter-item_act {font-weight:bold;}
.sorter-item_act .sorter-item .sorter-title, .sorter-item_act .sorter-items, .sorter .sorter .sorter-title {font-weight:normal;}
.sorter_on .sorter_on .sorter-title {font-weight:bold;}
.sorter_on .sorter_on .sorter .sorter-title {font-weight:normal;}
.sorter_on .sorter_on .sorter_on .sorter-title {font-weight:bold;}

.sorter .sorter-items {display:none;}
.sorter_on .sorter-items {display:block;}
.sorter_on .sorter .sorter-items, .sorter_on .sorter_on .sorter .sorter-items {display:none;}
.sorter_on .sorter_on .sorter-items, .sorter_on .sorter_on .sorter_on .sorter-items {display:block;}

.sorter .i-arr {width:9px; height:5px; background-position:-226px -42px; right:4px; top:50%; margin-top:-1px;}
.sorter_on .i-arr {background-position:-226px -37px;}

.sorter .sorter .i-arr {background-position:-217px -42px;}
.sorter_on .sorter_on .sorter .i-arr {background-position:-217px -37px;}

.ie6 .sorter.pie_first-child, .ie7 .sorter.pie_first-child {margin-bottom:25px; padding-bottom:0;}
.ie6 .sorter .sorter.pie_first-child, .ie7 .sorter .sorter.pie_first-child,
.ie6 .sorter .sorter .sorter.pie_first-child, .ie7 .sorter .sorter .sorter.pie_first-child {margin-bottom:0;}
.ie6 .sorter.pie_first-child .sorter-title, .ie7 .sorter.pie_first-child .sorter-title {margin-top:-4px;}
.ie6 .sorter .sorter.pie_first-child .sorter-title, .ie7 .sorter .sorter.pie_first-child .sorter-title {margin-top:0;}

/* Sorter/Filter */
.sorter-filter {font-size:0.857em; margin:0 0 1.833em -0.417em;}
.sorter-filter-item {
    border:1px solid #cec7c7; float:left; position:relative; text-decoration:none; color:#000 !important; padding:0.083em 32px 0.167em 0.583em; margin:0 0.417em 0.417em;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    background:#f6f1de; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f1de)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #ffffff, #f6f1de); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #ffffff, #f6f1de); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #ffffff, #f6f1de); /* IE10 */
    background-image:     -o-linear-gradient(top, #ffffff, #f6f1de); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #ffffff, #f6f1de);
    -pie-background:   linear-gradient(top, #ffffff, #f6f1de);
    behavior:url(../css/PIE.htc);
}
.sorter-filter-reset {float:right; clear:right; color:#9c0021; margin:0.333em 0 0 0.417em;}

/* Catalog */
.catalog-items {margin:0 0 2.643em -23px;}
.catalog .filter {margin:0 0 1.071em 230px; float:left;}
.catalog .filter-item {font-size:0.929em; padding:0.333em 0.833em 0.417em; margin:0 0.333em 0 0;}
.catalog-item {border:1px solid #cec7c7; border-width:1px 0; margin-bottom:-1px; padding:0.571em 0 0.571em 253px; color:#000; position:relative;}
.catalog-item a {color:#000 !important;}
.catalog-item .link_service, .catalog-item-cart .bottle a {text-decoration:none; border-bottom:1px dotted;}
.catalog-item .link_service {font-size:0.929em;}
.catalog-item-img, .catalog-item-img img {width:64px;}
.catalog-item-img {margin:24px 0 10px -135px; float:left; position:relative; text-align:center;}
.catalog-item-img img {display:block; margin:0 auto 16px; height:236px;}
.catalog-item-header {margin-bottom:1.429em;}
.catalog-item-title, .catalog-item-subtitle {font-weight:normal;}
.catalog-item-title {font-size:1.714em; line-height:1.5;}
.catalog-item-subtitle {font-size:0.929em; color:#95948f; margin-left:-0.1em;}
.catalog-item-subtitle span {color:#ef582e;}
.catalog-item .braces {font:1.661em 'Times New Roman',serif; color:#95948f;}
.catalog-item-cnt, .catalog-item-cnt .columns {overflow:hidden; *zoom:1;}
.catalog-item-cnt {padding-top:0.417em; margin:-0.417em 0 0.286em;}
.catalog-item-cnt hr {border-top:1px solid #cec7c7; overflow:hidden; height:0; margin:6px 3px 6px 6px; padding:0; line-height:0; font-size:0; *zoom:1; *height:1px;}
.catalog-item-cnt .columns {margin:-2px 0 4px; padding-top:2px;}
.catalog-item-cnt .columns hr {position:relative; top:-2px; margin:0 0 13px;}
.catalog-item-cnt .col_l {width:247px; margin-left:6px; padding-right:40px; border-right:1px solid #cec7c7;}
.catalog-item-cnt .col_r {width:156px; margin-left:-1px; padding-left:16px; border-left:1px solid #cec7c7; float:left;}
.catalog-item-cnt .col_l, .catalog-item-cnt .col_r {padding-bottom:500px; margin-bottom:-500px;}
.catalog-item-cnt .col_l hr {margin-right:-38px; *margin-right:0; *width:285px; *margin-top:-6px;}
.catalog-item-cnt .col_r hr {margin-left:-14px; margin-right:-12px; *margin-right:0; *margin-top:-6px; *width:183px;}

/* Catalog Item Properties */
.catalog-item-properties {font:italic 1.071em/1.216 'Times New Roman',serif; width:280px; float:left;}
.catalog-item-properties .name, .catalog-item-properties .value {font-style:normal; font-size:0.867em; font-family:tahoma,sans-serif;}
.catalog-item-properties .value {font-weight:bold;}
.catalog-item-properties p {margin-bottom:0.385em;}
.catalog-item-properties .rate {padding-left:5.067em; position:relative; *zoom:1;}
.catalog-item-properties .rate .name {position:absolute; left:0; top:0.077em;}

/* Catalog Item Cart */
.catalog-item-cart {width:178px; float:right; clear:right;}
.catalog-item-cart .bottle {font:0.857em/1.36 Arial,sans-serif; color:#830028; margin:0.417em 0 0.75em;}
.catalog-item-cart .bottle .iconed_l {margin:0 0.417em 0 12px;}
.catalog-item-cart .bottle .iconed_l .i {left:-12px;}
.catalog-item-cart .catalog-item-price {font:1.429em/1.05 Arial,sans-serif; margin-bottom:0.7em;}
.catalog-item-cart .catalog-item-quantity {position:relative; margin:0 0 1.214em;}
.catalog-item-cart .quantity_in_cart {font:italic 1em/1 'Times New Roman',serif; color:#95948f; vertical-align:middle; white-space:nowrap; position:absolute; margin-top:0.429em;}
.catalog-item-cart .btn {color:#fff !important; margin-bottom:0.438em;}

/* Catalog Item Type */
.catalog-item-type {position:absolute; left:-6px; top:44px; font:italic 0.786em/1.455 'Times New Roman',serif;}
.catalog-item-type .ribbon-front {padding:0 6px 0 63px;}
.catalog-item-type .ribbon-br {display:none;}
.catalog-item-type .deg {
    font-size:1.091em; line-height:34px; text-align:center; white-space:nowrap; background:#770310; display:block;
    position:absolute; left:22px; top:50%; margin-top:-17px; height:34px; width:34px; text-shadow:0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.5);
	-khtml-box-shadow:0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.5);
	-o-box-shadow:0 2px 2px rgba(0,0,0,0.5);
    box-shadow:0 2px 2px rgba(0,0,0,0.5);
    -webkit-border-radius:17px;
    -khtml-border-radius:17px;
    -moz-border-radius:17px;
    -o-border-radius:17px;
    border-radius:17px;
    behavior:url(../css/PIE.htc); 
}
.catalog-item-type .deg_mid {background:#f1a41f;}

/* Catalog Item Taste Combinations */
.catalog-item-taste_comb {background:url(../i/curly-brdr.gif) 0 0 repeat-x; padding:0.714em 0 0 138px; color:#695c56; font:italic 1em/1.357 'Times New Roman',serif; position:relative; margin:1.286em 0 0; position:relative; *zoom:1;}
.catalog-item-taste_comb-title {background:url(../i/curly-brdr.gif) 0 0 repeat-x; color:#362f2d; padding:0.778em 0 0.333em; margin-bottom:0.5em; font:italic 1.286em/1.333 'Times New Roman',serif; position:relative; display:none; *zoom:1;}
.catalog-item-taste_comb .icons {width:111px; float:left; margin:-7px 0 0 -143px; position:relative;}

/* Catalog Item Sampling Notes */
.catalog-item-sampling, .catalog-item-sampling-title {background:url(../i/curly-brdr.gif) 0 0 repeat-x;}
.catalog-item-sampling {font-style:italic; font-family:'Times New Roman',serif; color:#534741; width:230px; margin-left:-254px; float:left; clear:left;}
.catalog-item-sampling-title {background-position:0 100%; font-weight:normal; font-size:1.286em; line-height:1.536; text-align:center; color:#362f2d; padding:0.111em 0 0.333em;}
.catalog-item-sampling-item {margin:0.571em 0 1em;}
.catalog-item-sampling-item-title {font-weight:bold; font-size:1.143em; line-height:1.313;}

/* Catalog Item Taste Combinations */
.catalog-item-description {color:#362f2d; overflow:hidden; *zoom:1; margin:1em 0;}
.catalog-item-description-title {font-size:1em; line-height:1.5; margin-bottom:0.357em;}
.catalog-item-description p {font-size:0.929em; line-height:1.538;}
.catalog-item-description img {float:right; margin:0.286em 0.929em 0.929em 3em;}

/* Catalog Item Gallery */
.catalog-item-gallery {margin-left:-254px; float:left; clear:left; width:230px;}
.catalog-item-gallery-title {display:none;}
.catalog-item-gallery-items {margin:-11px -11px 0 -1px; overflow:hidden; *zoom:1;}
.catalog-item-gallery-item, .catalog-item-gallery-item img {display:block; width:97px; height:97px;}
.catalog-item-gallery-item {border:1px solid #cec7c7; margin:11px; float:left;}

/* Catalog Single Item */
.catalog-item_sngl {border:0; margin:0; padding:0 0 0 254px;}
.catalog-item_sngl .catalog-item-img, .catalog-item_sngl .catalog-item-img img {width:200px;}
.catalog-item_sngl .catalog-item-img {margin:0.5em 0 1.143em -238px;}
.catalog-item_sngl .catalog-item-img img {height:610px; margin-bottom:0.5em;}
.catalog-item_sngl .catalog-item-title {font-size:2.143em; line-height:1.2;}
.catalog-item_sngl .catalog-item-subtitle {font-size:1em;}
.catalog-item_sngl .catalog-item .braces {font-size:2.314em;}
.catalog-item_sngl .catalog-item-properties, .catalog-item_sngl .catalog-item-cart {width:auto; float:none;}
.catalog-item_sngl .catalog-item-properties {position:relative; margin:-0.214em 0 0 -6px;}
.catalog-item_sngl .col_r .catalog-item-properties {margin:-0.267em -3px -0.267em 0; line-height:1.4;}
.catalog-item_sngl .catalog-item-cart {margin-right:-3px;}
.catalog-item_sngl .catalog-item-cart .bottle {font-size:1em; line-height:1.355; margin:0.786em 0 1.357em;}
.catalog-item_sngl .catalog-item-cart .bottle .iconed_l {margin:0 0.786em 0 15px;}
.catalog-item_sngl .catalog-item-cart .bottle .iconed_l .i {left:-15px;}
.catalog-item_sngl .catalog-item-cart .catalog-item-price {font-size:1.571em; line-height:0.955em; margin:-0.091em 0 0.545em;}
.catalog-item_sngl .catalog-item-cart .btn {margin-bottom:1.188em;}
.catalog-item_sngl .catalog-item-taste_comb {padding:0 0 0.571em; margin:0.286em 0 2.214em; background-position:0 100%;}
.catalog-item_sngl .catalog-item-taste_comb-title {display:block;}
.catalog-item_sngl .catalog-item-taste_comb .icons {width:auto; margin:0; position:absolute; top:0.214em; left:13.571em;}

/* Comparison */
.comparison table {border-collapse:collapse;}
.comparison th, .comparison td {border:1px solid #cec7c7; border-width:1px 0;}
.comparison th {font-weight:normal; font-size:0.786em; line-height:1.909; color:#534741 !important; vertical-align:middle; text-align:left; white-space:nowrap; padding:0.429em 0 0.571em;}
.comparison td {vertical-align:top; color:#000; padding:0.357em 10px 0.214em;}
.comparison .brdr {border:1px solid #cec7c7; border-width:0 1px; padding:0 10px; margin:0 -11px 0 -10px; overflow:hidden; *zoom:1;}
/*.comparison .row_fst th, .comparison .row_fst td {border-top:0;}
.comparison .row_fst .brdr {padding-top:2px; margin-top:-2px; margin-bottom:0.5em;}
.comparison .cell_fst .brdr {border-left:0; padding-left:0; margin-left:0;}*/
.comparison tr:first-child * {border-top:0;}
.comparison tr:first-child .brdr {padding-top:2px; margin-top:-2px; margin-bottom:0.5em;}
.comparison .brdr:first-child {border-left:0; padding-left:0; margin-left:0;position:relative;}
.comparison td:last-of-type .brdr, .comparison td:last-child .brdr, .comparison .brdr_lst  {border-right:0; padding-right:0; margin-right:0;}
.comparison .catalog-item-img {margin:0 0 0.357em; position:relative; float:none; width:100%;}
.comparison .catalog-item-img img {width:36px; height:112px; margin:0 auto;}
.comparison .catalog-item-title, .comparison .catalog-item-price {text-align:center;}
.comparison .catalog-item-title {font-size:0.857em;}
.comparison .catalog-item-price {font-size:1.143em; line-height:1.313;}
.comparison .catalog-item-taste_comb {background:none; padding:0; margin:0;}
.comparison .catalog-item-taste_comb .icons {margin:-8px auto 0; float:none; top:4px; *margin-bottom:9px;}
.comparison .catalog-item-properties {font-size:1em; line-height:1.5; width:auto;}

/* Catalog short */
.catalog_short-choice {margin:-0.571em 0 0.857em 0.714em;}
.catalog_short-title {font-size:1em; line-height:1.5; margin:0.429em 0 1em -29px; display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1;}
.catalog_short-title .ribbon-front {padding:0.143em 0.714em 0.214em;}
.catalog_short-title .ribbon-br {display:none;}
.catalog_short-title_r {margin-right:-29px; margin-left:0; display:block;}
.catalog_short-title_r .ribbon-bl {display:none;}
.catalog_short-title_r .ribbon-br {display:block;}
.catalog_short-item-title {font-weight:normal; font-size:1em; line-height:1.5;}
.catalog_short-item-title, .catalog_short-item a {color:#000 !important;}
.catalog_short-item-img {margin-bottom:0.357em;}
.catalog_short-item-img img {margin:0 auto;}

.catalog_short table {width:100%;}
.catalog_short th, .catalog_short td {vertical-align:top; text-align:center;}
.catalog_short th {font-weight:normal; font-size:0.786em; color:#534741 !important; padding:0 2.182em;}
.catalog_short td {font-size:0.857em; padding:4.083em 2em 0.667em; border-bottom:1px solid #cec7c7;}
.catalog_short td * {font-size:1em;}
.catalog_short table .catalog_short-item-img {width:36px;}
.catalog_short td.catalog_short-item-img {padding:0.667em 15px 0.667em 32px;}
.catalog_short td.catalog_short-item-img img {margin-bottom:0;}
.catalog_short table .catalog_short-item-title {text-align:left;}
.catalog_short .catalog_short-item-delete {width:57px; padding-left:0; padding-right:0;}
.catalog_short .catalog_short-item-delete .i {position:relative; top:0; right:0; margin:0 auto;}
.catalog_short .catalog_short-item-price, .catalog_short .catalog_short-item-sum {white-space:nowrap;}
.catalog_short .spacer {width:408px; padding:0;}

.catalog_short_fast_choice {border-bottom:3px solid #534741; padding-bottom:0.286em; *zoom:1;}
.catalog_short_fast_choice .catalog_short-item {text-align:center; width:100%; margin:1em 0 1.429em;}

.catalog_short_wrapping .catalog_short-items {margin-right:-30px;}
.catalog_short_wrapping .catalog_short-item {text-align:center; display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:top; width:220px; margin:0 26px 26px 0;}
.catalog_short_wrapping .catalog_short-item-img {height:216px;}
.catalog_short_wrapping .catalog_short-item-price {font-size:1.429em; line-height:1.05; margin:0.55em 0 0.4em; color:#000;}
.catalog_short_wrapping .btn {color:#fff !important;}

.account .catalog_short-title {margin-left:-39px;}
.account .catalog_short-title .ribbon-front {padding:0.143em 0.714em 0.214em 2.643em; width:9.5em;}

.cart .catalog_short td {font-size:1.143em; line-height:1.313; padding:1.188em 1.5em 0.125em;}
.cart .catalog_short td.catalog_short-item-img {padding:0.125em 15px 0.125em 32px;}
.cart .order-item {margin:0 0 -0.714em;}
.cart .order-total {text-align:right;}

/* Week Product */
.week_product {margin:0.643em 0 0.714em;}
.week_product-title {border-bottom:1px solid #cec7c7; padding:0.4em 0; margin-bottom:0.25em; font-weight:normal; font-size:1.429em; line-height:1em; color:#000;}
.week_product .col_l {border-right:1px solid #cec7c7; width:230px; padding-right:11px;}
.week_product .col_r {border-left:1px solid #cec7c7; width:484px; padding-left:11px; margin:0 -2px 0 -1px; float:left;}
.week_product .catalog_short-item {border-right:1px solid #cec7c7; width:230px; padding-right:11px; display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:top; color:#000; text-align:center; position:relative;}
.week_product .catalog_short-item_r {border-left:1px solid #cec7c7; border-right:0; padding:0 0 0 11px; margin-left:-5px;  *margin-left:-1px;}
.week_product .catalog_short-item_r .i {right:0;}
.week_product .catalog_short-item-exp {font-size:0.857em; line-height:1.5; color:#6a6864; margin:0.25em 0 0.333em;}
.week_product .catalog_short-item-price {font-size:1.429em; line-height:1.05;}
.week_product .catalog_short-item .btn {color:#fff !important; margin:0.875em 0 0.313em;}
.week_product .catalog_short-item_special {border:0;}
.week_product .catalog_short-item_special .catalog_short-item-title {font-size:1.143em; line-height:1.5;}
.week_product hr {margin:0.714em -11px 0.714em -4px;}

/* Search Results */
.search-results-header {margin:-0.643em 0 0.5em;}
.search-results-header p {color:#362f2d; line-height:1.571;}
.search-results-title {font-weight:normal; font-size:1.429em; line-height:1.5; color:#000;}
.search-results-title span {font:italic 1.2em 'Times New Roman',serif;}
.search-results .catalog-item-cnt {width:506px;}
.search-results .catalog-item-taste_comb {width:368px;}

/* Pager */
.pagination {margin:-1.571em 0 2.643em;}
.pager-item {float:left; font-size:0.929em; line-height:1.615; margin:0 0.231em 0 0; border:1px solid #fff;}
.pager-item a {display:block; margin:0 -0.462em;}
.pager-item, .pager a {color:#000 !important; padding:0 0.462em; position:relative; *zoom:1;}
.pager-item_act {
    border-color:#cec7c7;
    background:#fbf6e1; /* Old browsers */
    background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#fbf6e1)); /* Saf4+, Chrome */
    background-image:-webkit-linear-gradient(top, #ffffff, #fbf6e1); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:   -moz-linear-gradient(top, #ffffff, #fbf6e1); /* FF3.6 */
    background-image:    -ms-linear-gradient(top, #ffffff, #fbf6e1); /* IE10 */
    background-image:     -o-linear-gradient(top, #ffffff, #fbf6e1); /* Opera 11.10+ */
    background-image:        linear-gradient(to bottom, #ffffff, #fbf6e1);
    -pie-background:   linear-gradient(top, #ffffff, #fbf6e1);
    behavior:url(../css/PIE.htc);
}

.catalog .pager {float:right; clear:right; margin:0;}
.catalog .pager-item {margin:0 0 0 0.231em;}


/* SEO */
.seo-title {font-size:1em; margin-bottom:0.571em;}
.seo p {font-size:0.929em; line-height:1.538; color:#362f2d;}

/* Server Error */
.server-error {padding:0 10px;}
.server-error-title {font-size:3.624em; line-height:1.2; font-weight:normal; margin:-0.237em 0 0.197em;}
.server-error-nav, .server-error p {line-height:2;}
.server-error p {font-size:1.286em; font-style:italic; color:#362f2d; margin-bottom:0.778em;}
.server-error-title, .server-error a {color:#9c0021;}

/* Forms
----------------------------------------------- */
select, input, textarea {color:#010101;}
input, textarea {font:1.143em/1.438 'Times New Roman',serif; font-style:italic;}

/* Input */
.input, .input input {display:block; position:relative;}
.input {
    height:1.857em; padding-left:10px; background:#fafaf8; border:1px solid #e4e4e2;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    behavior:url(../css/PIE.htc);
}
.input_bg_off {background:#fff;}
.input input {height:1.438em;}
.input input, .input textarea {border:0; outline:0; padding:0; width:100%; background:none; top:0;}
.input_textarea {height:auto; padding:0.286em 0 0 10px; margin-bottom:0.571em;}
.input_textarea textarea {top:0;}
.input_code, .input_number, .input_quantity {display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:middle; margin:0 -0.214em;}
.input_code {width:2.5em;}
.input_number {width:5.5em;}
.input_quantity {width:2.571em; height:1.5em; padding:0; margin:0 35px 0 14px;}
.input_quantity input {text-align:center; top:-0.063em;}
/* For Opera (all versions) */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea {top:-0.214em;}
    .input_quantity input {top:-0.286em;}
}
.ie6 .input input, .ie6 .input textarea, .ie7 .input input, .ie7 .input textarea {top:-0.125em;}

/* Form */
.f-title, .f-subtitle, .f-label {color:#000; position:relative; *zoom:1;}
.f-subtitle {font-size:1em; font-weight:bold; line-height:1.429; margin:0.857em 0 0.714em;}
.f-label {margin-bottom:0.214em; display:block;}
.f-phone {margin:0.286em 0;}
.f-row {margin:1em 0; position:relative;}
.f-row_submit {text-align:right;}
.f-row_linear .f-label, .f-row_linear .f-data {display:-moz-inline-stack; display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.f-row_linear .f-label {font-weight:bold; margin:0.143em 0 0;}
.f-acc_data .f-row_linear .f-label {width:9.5em;}
.f-acc_data .f-row_linear .f-data {width:24em;}
.f-acc_data .f-row_submit {width:33.857em; margin-top:-0.857em;}

.f-acc_settings .f-row_linear .f-label {width:12.857em;}
.f-acc_settings .f-row_linear .f-data {width:20.643em;}
.f-acc_settings .f-row_submit {width:33.857em; margin:0;}

.form .f-star {font:1em/1 'Times New Roman',serif; color:#900;}

.f-row_address, .f-row_add {border-bottom:1px solid #cec7c7; font-size:0.929em; line-height:1.231; margin:0 !important; padding:1.077em 0 1.231em;}
.f-row_add {padding:0 0 0.538em; margin-top:-0.231em !important; text-align:right;}
.f-row_address .f-label {padding-left:33px; width:317px; float:left; position:relative;}
.f-row_address .f-label input {position:absolute; width:1em; height:1em; top:0; left:0; *left:3px;}
.f-row_address .link_delete, .f-row_address .link_change, .f-row_add .link_add {text-decoration:none; border-bottom:1px dotted;}
.f-row_address .link_delete, .f-row_address .link_change {float:right;}
.f-row_address .link_delete {margin-left:24px; color:#9c0021 !important;clear:right;}
.f-row_address .link_change {color:#000 !important;}
.f-row_add .link_add {color:#726258 !important;}
.ie8 .f-row_address .f-label input, .ie9 .f-row_address .f-label input {top:4px; left:3px;}

/* Login form */
.f-login .link_forgot {font-size:0.929em; margin-top:0.786em;}
.f-login .link_forgot a {color:#9c0021;}
.f-login .f-row_submit {margin-top:-1.5em;}
.order .f-login {
    padding:0.571em 20px 0.857em 10px; margin:-0.643em 0 0.929em -11px;
    border:1px solid #cec7c7;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    -moz-border-radius:6px;
    -o-border-radius:6px;
    border-radius:6px;
    behavior:url(../css/PIE.htc); 
}
.order .f-row {margin:0.786em 0;}
.order .f-row_submit {margin-top:1.429em;}
.order .f-title {font-weight:normal; font-size:1.214em; line-height:1.334;}

/* Register form */
.f-register {margin:-1.214em 0.714em 0 0;}
.f-register .f-row_submit {margin:1.643em 0 1.286em;}

/* Fast form */
.f-fast .f-row_submit {text-align:left;}

/* Address form */
.f-address {width:548px;}

/* Search form */
.f-search {float:right; clear:right; margin-top:0.5em; position:relative;}
.f-search-label {display:none;}
.f-search .input {background:#fafaf8; border:1px solid #e4e4e2; width:187px; height:1.5em; padding:0 31px 0 9px;}
.f-search .input input, .f-search-submit input {font-size:1em; line-height:1.5;}
.f-search .input input {top:0;}
.f-search-submit, .f-search-submit input {position:absolute; width:14px; height:14px; overflow:hidden; display:block;}
.f-search-submit {right:9px; top:50%; margin-top:-7px; background:url(../i/icons.png) -238px -33px no-repeat;}
.f-search-submit input {visibility:hidden;}
.f-search_wide .input {width:427px;}
/* For Opera (all versions) */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
    .f-search .input input {top:-0.214em;}
}
.ie6 .f-search .input input, .ie7 .f-search .input input {top:-0.143em;}

/* Autocomplete */
.ac {
    display:none; background:#fff; position:absolute; left:0; right:0; z-index:100; margin:1px 31px 0 0;
    -moz-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -khtml-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -webkit-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -o-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    box-shadow:0 1px 4px rgba(54,47,45,0.75);
    behavior:url(../css/PIE.htc); 
}
.ac-item {font:italic 1.036em/1.793em 'Times New Roman';}
.ac-item a {display:block; color:#362f2d !important; border-bottom:1px solid #cec7c7; padding:0 13px 0.069em; text-decoration:none;}
.ac-item a:hover {background:#cec7c7;}
.ac-item:first-child a {padding-top:0.276em;}
.ac-item:last-child a {padding-bottom:0.207em;}

/* Overlay */
.overlay {display:none; background:rgba(0,0,0,0.6); position:fixed; left:0; right:0; bottom:0; top:30px; z-index:100;}
.ie6 .overlay, .ie7 .overlay, .ie8 .overlay {background:#000; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);}

/* Popup */
.popup {
    display:none; background:#fff; position:fixed; left:50%; top:10.286em; margin-left:-12.143em; z-index:100; width:24.286em;
    -moz-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -khtml-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -webkit-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    -o-box-shadow:0 1px 4px rgba(54,47,45,0.75);
    box-shadow:0 1px 4px rgba(54,47,45,0.75);
    behavior:url(../css/PIE.htc); 
}
.popup-content {padding:0.5em 1.429em 1.214em 2.143em;}
.popup-title {font-weight:normal; font-size:1.429em; line-height:2.143; color:#010101; padding:0.3em 0;}
.popup .crumbs {font-size:0.857em; margin:1.417em 0 0.333em -10px;}
.popup .crumbs a {color:#726258;}
.popup .input {padding-top:0.125em; padding-bottom:0.125em;}
.popup_login {width:49.143em; margin-left:-24.571em;}
.popup_login .popup-content {padding-right:0;}
.popup_login .popup_columns {overflow:hidden;}
.popup_login .col-content {padding:0.5em 0 500px; margin:-1.5em 0 -463px;}
.popup_login .f-title {font-weight:bold; font-size:1em; color:#010101; margin-bottom:1.143em;}
.popup_login .col_l {width:19.571em; padding-right:2.5em;}
.popup_login .col_r {width:22.5em; padding-left:1.286em; float:left; margin-left:-1px;}
.popup_login .col_l .col-content {border-right:1px solid #cec7c7; padding-right:2.5em; margin-right:-2.5em;} 
.popup_login .col_r .col-content {border-left:1px solid #cec7c7; padding-left:1.286em; margin-left:-1.286em;} 
.popup_login .col_r p {margin:1em 0;} 
.popup_login .col_r p.button {margin:3.643em 0 0; text-align:center;} 